extends layout

block content
   <Form action="/new" method="post">
      h1= "New Post"
         hr
         <div id= "newpost">
            label(for="name") Enter Name:
            input(
               id= "user_name" 
               type='text' 
               name='user_name_field' 
               placeholder="Please Enter Name")
            br
            label(for="message") Message:
            textarea(cols="90", rows="4" 
               type="text" 
               name="user_messages" 
               placeholder="Please Enter Message")
            br
            input(
               type="submit" 
               value="Submit")
         </div>
   </form>